*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --level-s: #FF7F7F;
  --level-a: #FFBF7F;
  --level-b: #ffdf7f;
  --level-c: #ffff7f;
  --level-d: #bfff7f;
  --level-e: #7fff7f;
  --level-f: #7fffff;
}

body {
  max-width: 100%;
  min-height: 100dvh;
  color: #fff;
  background-color: #1c1c1c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main.tier-container {
  max-width: 620px;
  margin: 0 auto;
  padding: 2rem;
}

div.logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img.logo {
  width: 280px;
}

section.tier {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.level {
  display: flex;
  width: 100%;
  min-height: 90px;
  border: 1px solid #1b1a1a;
  background-color: #0a0a0a;
  transition: .3s background ease-in;

  &.drag-over {
    background-color: #383838;
  }

  & img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    cursor: grab;
 
    &.prev {
      opacity: 0.3;
      pointer-events: none;
    }
  }

 
}

aside {
  width: 80px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--level, #89cd45);
  color: #000;
  font-weight: bold;
}

section {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;

  & label:hover {
    cursor: pointer;
  }

  & svg {
    margin-inline: 10px;
    cursor: pointer;
  }
}

section.images-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  min-height: 320px;
  border: 1px solid #7c7c7c;
  background-color: #0c0c0c;

  & img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    cursor: grab;
  }

  &.over-desktop {
    background-color: #383838;
  }
}